.App {
  text-align: center;
  font-family: Arial, sans-serif;
}

.main-heading {
  font-size: 24px;
  margin: 20px 0;
}

.custom-data-grid {
  width: 75%;
  margin: 0 auto;
}

/* mergeSortVisualizationModal.css veya istediğiniz bir CSS dosyasına ekleyebilirsiniz */

/* Modal */
.react-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  width: 80%;
  max-width: 800px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* Modal başlık */
.sub-heading {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

/* Dizi görselleştirme alanı */
.array-visualization {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 60vh;
}

.array-bar {
  background: linear-gradient(to bottom, #1976D2, #BBDEFB);
  width: 2%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  margin: 0 1px;
  text-align: center;
  position: relative;
}


.array-bar-label {
  position: absolute;
  bottom: -25px;
  left: 0;
  right: 0;
  text-align: center;
  font-size: 0.7rem;
  color: #000000;
}

