.App {
  text-align: center;
  font-family: Arial, sans-serif;
}

.main-heading {
  font-size: 24px;
  margin: 20px 0;
}

.custom-data-grid {
  width: 75%;
  margin: 0 auto;
}

.generate-button {
  background-color: #007bff;
  color: #fff;
  font-size: 16px;
  padding: 10px 20px;
  margin: auto;
  border: none;
  cursor: pointer;
}

.sub-heading {
  font-size: 20px;
  margin: 20px 0;
}

.description {
  font-size: 16px;
  margin: 10px 0;
}
